[Desktop Entry]
Name=FileZilla
Comment=FTP and SFTP client
Exec=/usr/bin/filezilla
Terminal=false
Type=Application
Categories=Network;FileTransfer;
StartupNotify=true
